<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PsicoWEB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet">

        <style>
            .error {
                border-color: red;
            }

            .warning {
                border-color: yellow;
            }
        </style>
    </head>
    <body background="images/light_grey.png">

        <nav class="navbar navbar-inverse" ng-controller="NavbarController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">PSICO-web</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#!/home">Inicio</a></li>
                    <li><a href="#">Novedades</a></li>
                    <li><a href="#">Sacar Turno</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!estaAutenticado()">
                    <li><a href="#!/registro"><span class="glyphicon glyphicon-user"></span> Registrar</a></li>
                    <li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesión</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="estaAutenticado()" ng-click="cerrarSesion()">
                    <li><a href="#!/logout"><span class="glyphicon glyphicon-log-in"></span> Cerrar Sesión</a></li>
                </ul>
            </div>
        </nav>

        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
            <div ng-view></div>
        </div>

        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-md5/angular-md5.js"></script>

        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/satellizer/dist/satellizer.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>

        <script src="app.js"></script>
        <script src="controllers/HomeController.js"></script>
        <script src="controllers/RegistroController.js"></script>
        <script src="controllers/LoginController.js"></script>
        <script src="controllers/NavbarController.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>

    </body>

</html>
