<div class="container-fluid">
    <div class="panel panel-primary panel-turnos">
        <div class="panel-heading"><h4>Informe de Turnos</h4></div>
        <div class="panel-body">
            <form name="formFiltro">
                <div class="form-group">
                    <div class="row">
                        <label>Seleccione los valores del filtro de turnos:</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="fechaDesde">Fecha Inicial:</label>
                        </div>
                        <div class="col-md-3">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaDesde" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="fechaHasta">Fecha Hasta:</label>
                        </div>
                        <div class="col-md-3">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fechaHasta" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="paciente">Paciente:</label>
                        </div>
                        <div class="col-md-3">
                            <select ng-model="idPaciente">
                                <option ng-repeat="paciente in pacientes" value="{{paciente.id}}">{{paciente.nombre + "" + paciente.apellido}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel panel-primary panel-footer">
            <div class="btn-group-horizontal botonera pull-right">
                <button type="button" class="btn btn-info" ng-click="limpiarFiltro()">Limpiar</button>
                <button type="submit" class="btn btn-success" ng-click="obtenerTurnos()">Filtrar</button>
            </div>
        </div>
    </div>
</div>